<h1>New Login Detected</h1>
<p>Hi {{name}},</p>
<p>We detected a new login to your account.</p>
{{#if ip}}
<p><b>IP Address:</b> {{ip}}</p>
{{/if}}
<p>If this was you, you can ignore this email. If not, please change your password immediately.</p>
<br>
<p>Best regards,</p>
<p>The Team</p>