x-nest-service: &nest-service
  env_file:
    - ./backend/.env.dev
  networks:
    - app-network
  extra_hosts:
    - "host.docker.internal:host-gateway"
  # depends_on:
  #   rabbitmq:
  #     condition: service_healthy
  #   postgres:
  #     condition: service_started
  #   redis:
  #     condition: service_started
  #   mongo_db:
  #     condition: service_started
  #   chroma: 
  #     condition: service_started
  #   minio:
  #     condition: service_started

services:
  rabbitmq:
    image: rabbitmq:management
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672" 
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - app-network

  # redis:
  #   image: redis:alpine
  #   hostname: redis
  #   container_name: redis
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis-data:/data
  #   networks:
  #     - app-network

  # postgres:
  #   image: postgres:alpine
  #   hostname: postgres
  #   container_name: postgres
  #   ports:
  #     - "5432:5432"
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: postgres
  #   volumes:
  #     - postgres-data:/var/lib/postgresql/data
  #     - ./init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
  #   networks:
  #     - app-network

  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin_container
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com 
  #     PGADMIN_DEFAULT_PASSWORD: root
  #   ports:
  #     - "5050:80" 
  #   depends_on:
  #     - postgres
  #   networks:
  #     - app-network
      
  meili-search:
    image: getmeili/meilisearch:v1.16
    container_name: meili_search
    ports:
      - "7700:7700"
    environment:
      MEILI_MASTER_KEY: "A7Uu1TlCVUtQRaUpFY9Z2sLoJeZMYVi0"
    volumes:
      - meili-data:/meili_data
    networks:
      - app-network

  chroma:
    image: chromadb/chroma
    command: run --host 0.0.0.0 --port 8000
    container_name: chroma_db_server
    ports:
      - "8000:8000"
    volumes:
      - chroma-data:/chroma/.chroma/chroma
    networks:
      - app-network

  chatbot: 
    build:
      context: ./python/chatbot-service
      dockerfile: Dockerfile
    container_name: python_chatbot_worker
    restart: unless-stopped
    volumes:
      - ./python/chatbot-service:/app
    environment:
      RABBITMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
      CHROMA_HOST: "chroma" 
      CHROMA_PORT: "8000"
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      MINIO_USE_SSL: "false"
      MINIO_BUCKET_NAME: "documents"
      REDIS_HOST: "redis"
      OLLAMA_BASE_URL: "http://host.docker.internal:11434"
      OLLAMA_MODEL: "gemma2:2b"
      OLLAMA_EMBEDDING_MODEL: "siv/Qwen3-Embedding-0.6B-GGUF:f16"
      THREADPOOL_MAX_WORKERS: "4"
      PYTHONUNBUFFERED: "1"
    depends_on:
      rabbitmq:
        condition: service_healthy
      chroma:
        condition: service_started
      minio:
        condition: service_started
      ollama:
        condition: service_started
    networks:
      - app-network

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
      - ./init-ollama.sh:/init-ollama.sh
    entrypoint: ["/bin/sh", "/init-ollama.sh"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app-network

  minio:
    image: minio/minio
    container_name: minio_service
    ports:
      - "9000:9000"
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_NOTIFY_WEBHOOK_ENABLE_primary: "on"
      MINIO_NOTIFY_WEBHOOK_ENDPOINT_primary: "http://host.docker.internal:3000/webhooks/upload-completed"
      MINIO_API_CORS_ALLOW_ORIGIN: "*"
    command: [ "server", "--console-address", ":9001", "/data" ]
    volumes:
      - minio-data:/data
    networks:
      - app-network

  mongo_db:
    image: mongo:8.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGODB_URI=mongodb://mongo_db:27017/mongo_db?directConnection=true
      - MONGO_HOST=mongo_db
    networks:
      - app-network

  # mongo_rs_init:
  #   image: mongo:8.0
  #   depends_on:
  #     - mongo_db
  #   volumes:
  #     - ./init-mongo.sh:/scripts/init-mongo.sh
  #   entrypoint: [ "bash", "-c", "chmod +x /scripts/init-mongo.sh && /scripts/init-mongo.sh" ]
  #   networks:
  #     - app-network
  api_gateway:
    <<: *nest-service
    container_name: api_gateway
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: api-gateway
    ports:
      - "3000:3000"

  auth_service:
    <<: *nest-service
    container_name: auth_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: auth

  user_service:
    <<: *nest-service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: user
    container_name: user_service

  redis_service:
    <<: *nest-service
    container_name: redis_service_app
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: redis

  project_service:
    <<: *nest-service
    container_name: project_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: project-service

  task_service:
    <<: *nest-service
    container_name: task_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: task-service

  sprint_service:
    <<: *nest-service
    container_name: sprint_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: sprint-service

  epic_service:
    <<: *nest-service
    container_name: epic_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: epic-service

  label_service:
    <<: *nest-service
    container_name: label_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: label-service

  list_service:
    <<: *nest-service
    container_name: list_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: list-service

  team_service:
    <<: *nest-service
    container_name: team_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: team

  search_service:
    <<: *nest-service
    container_name: search_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: search-service

  socket_service:
    <<: *nest-service
    container_name: socket_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: socket
    ports:
      - "4001:4001"

  notification_service:
    <<: *nest-service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: notification

  ai_discussion_service:
    <<: *nest-service
    container_name: ai_discussion_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: discussion-ai

  calendar_service:
    <<: *nest-service
    container_name: calendar_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: calendar-service

  gmail_service:
    <<: *nest-service
    container_name: gmail_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: gmail

  file_service:
    <<: *nest-service
    container_name: file_service
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
          APP_NAME: file

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root 
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_URL: mongodb://mongo_db:27017/ 
      ME_CONFIG_BASICAUTH: "false" 
    depends_on:
      - mongo_db
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://127.0.0.1:3000
    container_name: nextjs_frontend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - INTERNAL_API_URL=http://api_gateway:3000
      - NEXT_PUBLIC_API_URL=http://127.0.0.1:3000
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  
volumes:
  postgres-data:
  redis-data:
  rabbitmq-data:
  ollama-data:
  minio-data:
  chroma-data:
  mongo-data:
  meili-data:

networks:
  app-network:
    driver: bridge