.mainLayout {
  display: flex;
  height: 100%; 
  width: 100%;

}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  min-height: 0; 
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  min-height: 0; 
}