# Infrastructure (Rất nhẹ)
aio-pika
minio
redis
python-dotenv
pydantic-settings
requests
aiohttp
google-generativeai

# LangChain & Vector (Bản core)
langchain>=0.3.0
langchain-community
langchain-core
langchain-text-splitters
chromadb-client

# Reranking bản Lite (Chương trình Reranker)
flashrank
onnxruntime

# File Processing
unstructured
pypdf
docx2txt
openpyxl
pandas

# Utils
tenacity
tqdm
pycryptodome