services:
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always  
    volumes:
      - redis-data:/data
  
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=admin      
      - RABBITMQ_DEFAULT_PASS=admin123   
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
  meilisearch:
    image: getmeili/meilisearch:v1.12
    ports:
      - "7700:7700"
    environment:
      - MEILI_MASTER_KEY=masterkey
    volumes:
      - meili_data:/meili_data
    restart: always
volumes:
  postgres-data:
  redis-data:
  rabbitmq-data:
  meili_data:
